.edificio {
  margin-top: 20px;
}

.image-container {
  height: 100%;
  overflow: hidden;
}

img {

  transition: transform 0.3s ease; 
}

.image-container :hover {
  transform: scale(1.08); 
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 13px;
  height: 25px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
